.visual-picker_vertical {
  width: 100%;
}

.visual-picker__figure {
  width: 100%;
  border-radius: 0;
  border-bottom: none;
}

.visual-picker_vertical .visual-picker__figure {
  height: fit-content;
}

.visual-picker_first {
  border-radius: 12px 12px 0px 0px;
}

.visual-picker_last {
  border-radius: 0px 0px 12px 12px;
  border-bottom: var(--lwc-borderWidthThin, 1px) solid
    var(--lwc-colorBorder, #dddbda);
}
